<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/', 'albums']">Albums</a></li>
    <li class="breadcrumb-item active">{{ album?.title }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>{{ album?.title }}</h1>

      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <div class="card-text">
            <div><strong>Author: </strong> <a [routerLink]="['/', 'users', (album?.user | async)?.id]">{{ (album?.user | async)?.username }}</a></div>
          </div>
        </div>
      </div>

      <ngb-tabset [activeId]="activateTabId" [destroyOnHide]="false" (tabChange)="updateFragmentForActiveTab($event)">
        <ngb-tab id="photos" title="Photos">
          <ng-template ngbTabContent>

            <div class="row row-cols-6 mt-3">
              <div *ngFor="let photo of (album?.photos | async)" class="col text-center mb-3">
                <a [href]="photo.url" target="_blank"><img [src]="photo.thumbnailUrl" class="img-fluid" [alt]="'Photo Thumbnail #' + photo.id"></a>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>
  </div>
</div>
