<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="jumbotron text-center">
        <h1 class="display-1">NgxApiPlatform</h1>
        <p class="lead">NgxApiPlatform is an Angular library to ease the API consumption.</p>

        <a class="btn btn-primary btn-lg mt-3" href="https://github.com/raphy/ngx-api-platform" role="button">GitHub</a>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">

      <h2 class="display-4">Why use NgxApiPlatform ?</h2>
      <p class="lead">NgxApiPlatform is made to be easy to use and fast to implement.</p>
      <p class="lead">The installation and configuration is made with Angular Schematics. After the NgxApiPlatform schematics is added, it will add the following code in your <code>app.module.ts</code>:</p>
      <pre>{{ snippets.configuration }}</pre>
      <p class="lead">Now you just need to configure the resources to use with NgxApiPlatform through the provided decorators.</p>
      <p class="text-center"><a class="btn btn-primary" href="#">Learn more about the configuration</a></p>

      <h2 class="display-4">How to configure a resource ?</h2>
      <p class="lead">Since NgxApiPlatform is made to be easy to use and fast to implement, you just have to create classes and docorate them, that's all.</p>
      <p class="lead"><code>user.ts</code></p>
      <pre>{{ snippets.resource }}</pre>
      <p class="lead">Now you just need to inject the provided service and start to request and interact with your API.</p>
      <p class="text-center"><a class="btn btn-primary" href="#">Learn more about the decorators</a></p>

      <h2 class="display-4">How to make requests ?</h2>
      <p class="lead">To make a request to a resource, NgxApiPlatfom provide a dedicated <code>ApiService</code> service.</p>
      <p class="lead"><code>user.component.ts</code></p>
      <pre>{{ snippets.component }}</pre>
      <p class="lead"><code>user.component.html</code></p>
      <pre>{{ snippets.template }}</pre>
      <p class="text-center"><a class="btn btn-primary" href="#">Learn more about the service</a></p>



    </div>
  </div>
</div>
