<div class="container">
  <div class="row">
    <div class="col">

      <h1>Posts</h1>

      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts">
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/', 'examples', 'posts', post.id.toString()]">
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
              View
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
