<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.isActive('/', true)">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [class.active]="router.isActive('/documentation', false)">
        <a class="nav-link" [routerLink]="['/', 'documentation']">Documentation</a>
      </li>
      <li class="nav-item" [class.active]="router.isActive('/examples', false)">
        <a class="nav-link" [routerLink]="['/', 'examples']">Examples</a>
      </li>
    </ul>
  </div>

  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" [routerLink]="['/']">NgxApiPlatform</a>
  </div>

  <div class="navbar-collapse collapse w-100 order-3">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
