<div class="container">
  <div class="row">
    <div class="col">

      <h1>{{ post?.title }}</h1>

      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <div class="card-text">
            <div><strong>Author: </strong> <a [routerLink]="['/', 'examples', 'users', (post?.user | async)?.id.toString()]">{{ (post?.user | async)?.username }}</a></div>
          </div>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Body</h5>
          <div class="card-text">{{ post?.content }}</div>
        </div>
      </div>

      <ul ngbNav #subCollectionsNav="ngbNav"  [activeId]="activateTabId" (activeIdChange)="updateFragmentForActiveTab($event)" class="nav-tabs">
        <li ngbNavItem="comments">
          <a ngbNavLink>Comments</a>
          <ng-template ngbNavContent>

            <table class="table table-bordered table-hover mt-3">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Body</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let comment of (post?.comments | async)">
                <th scope="row">{{ comment.id }}</th>
                <td>{{ comment.email }}</td>
                <td>{{ comment.name }}</td>
                <td>{{ comment.body }}</td>
              </tr>
              </tbody>
            </table>

          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="subCollectionsNav"></div>
    </div>
  </div>
</div>
